<template>
    <div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <login-form @submitted="login"></login-form>
        </div>
    </div>
</div>
</template>

<script>
import LoginForm from '../components/LoginForm.vue'
import EventBus from '../event-bus'
export default {
    components: { LoginForm },
    methods: {
        login(data) {
            this.$store.dispatch("retrieveToken", {
                email: data.email,
                password: data.password
            })
                .then(response => {
                    this.$router.push({ name: "questions" });
                    this.$toast.success("Your login has been sucessfully", "Success")
                })
                .catch(({response}) => {
                    // errors = error.response.data.errors
                    EventBus.$emit('error', response.data.errors)
                    // this.error = error.response.data;
                });
            // axios.post('/login', data)
            //      .then(({ data }) => {
            //         this.$router.push({ name: 'questions' })
            //         this.$toast.success("Your login has been sucessfully", "Success")
            //         this.$root.global_token = data.access_token
            //         window.Auth.signedIn = true
            //         // console.log(data);
            //      })
            //      .catch(({ response }) => {
            //          EventBus.$emit('error', response.data.errors)
            //      })
        }
    }
}
</script>