<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <password-email-form @submitted="verifyEmail"></password-email-form>
            </div>
        </div>
    </div>
</template>

<script>
import PasswordEmailForm from '../components/PasswordEmailForm.vue'
import EventBus from '../event-bus'
export default {
    components: { PasswordEmailForm },
    methods: {
        verifyEmail(data) {
            axios.post('/password/email', data)
                 .then(({ data }) => {
                    // this.$router.push({ name: 'questions' })
                    this.$toast.success(data.message, "Success")
                 })
                 .catch(({ response }) => {
                    if(response.data.error)
                    {
                        this.$toast.warning(response.data.error, "Ups!")
                    }
                    else
                    {
                        EventBus.$emit('error', response.data.errors)
                    }
                 })
        }
    }
}
</script>