<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <password-reset-form @submitted="resetPassword"></password-reset-form>
            </div>
        </div>
    </div>
</template>

<script>
import PasswordResetForm from '../components/PasswordResetForm.vue'
import EventBus from '../event-bus'
export default {
    components: { PasswordResetForm },
    methods: {
        resetPassword(data) {
            axios.post('/password/reset', data)
                 .then(({ data }) => {
                    this.$router.push({ name: 'login' })
                    this.$toast.success(data.message, "Success")
                    console.log(data);
                 })
                 .catch(({ response }) => {
                     EventBus.$emit('error', response.data.errors)
                 })
        }
    }
}
</script>