<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <register-form @submitted="register"></register-form>
            </div>
        </div>
    </div>
</template>

<script>
import RegisterForm from '../components/RegisterForm.vue'
import EventBus from '../event-bus'
export default {
    components: { RegisterForm },
    methods: {
        register(data) {
            axios.post('/register', data)
                 .then(({ data }) => {
                    this.$router.push({ name: 'login' })
                    this.$toast.success(data.message, "Success")
                    console.log(data);
                 })
                 .catch(({ response }) => {
                    if(response.data.error)
                    {
                        this.$toast.warning(response.data.error, "Ups!")
                    }
                    else
                    {
                        EventBus.$emit('error', response.data.errors)
                    }
                 })
        }
    }
}
</script>