<template>
    <div class="card">
        <div class="card-header">Login</div>

        <div class="card-body">
            <form method="POST" @submit.prevent="handleSubmit">

                <div class="form-group row">
                    <label for="email" class="col-md-4 col-form-label text-md-right">E-Mail Address</label>

                    <div class="col-md-6">
                        <input id="email" type="email" v-model="email" :class="errorClass('email')" autofocus>
                        
                        <div v-if="errorColumn('email')" class="invalid-feedback">
                            <strong>{{ errors['email'][0] }}</strong>
                        </div>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="password" class="col-md-4 col-form-label text-md-right">Password</label>

                    <div class="col-md-6">
                        <input id="password" type="password" v-model="password" :class="errorClass('password')">

                        <div v-if="errorColumn('password')" class="invalid-feedback">
                            <strong>{{ errors['password'][0] }}</strong>
                        </div>
                    </div>
                </div>

                <!-- <div class="form-group row">
                    <div class="col-md-6 offset-md-4">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="remember" id="remember" {{ old('remember') ? 'checked' : '' }}>

                            <label class="form-check-label" for="remember">
                                {{ __('Remember Me') }}
                            </label>
                        </div>
                    </div>
                </div> -->

                <div class="form-group row mb-0">
                    <div class="col-md-8 offset-md-4">
                        <button type="submit" class="btn btn-primary">
                            <spinner :small="true" v-if="$root.loading"></spinner>
                            <span v-else>Login</span>
                        </button>
                        <router-link class="btn btn-link" :to="{ name: 'password.email' }">
                            Forgot Your Password?
                        </router-link>
                    </div>
                </div>
            </form>
        </div>
    </div>
</template>

<script>
import FormErrors from '../mixins/form-errors'

export default {
    mixins: [ FormErrors ],
    data() {
        return {
            email: '',
            password: '',
            errors: {
                email: [],
                password: []
            }
        }
    },
    methods: {
        handleSubmit () {
            this.$emit('submitted', {
                email: this.email,
                password: this.password
            })
        }
    }
}
</script>