<template>
    <div class="card">
        <div class="card-header">Reset Password</div>

        <div class="card-body">
            <form method="POST" @submit.prevent="handleSubmit">

                <div class="form-group row">
                    <label for="email" class="col-md-4 col-form-label text-md-right">E-Mail Address</label>

                    <div class="col-md-6">
                        <input id="email" type="email" :class="errorClass('email')" v-model="email" readonly>

                        <div v-if="errorColumn('email')" class="invalid-feedback">
                            <strong>{{ errors['email'][0] }}</strong>
                        </div>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="password" class="col-md-4 col-form-label text-md-right">Password</label>

                    <div class="col-md-6">
                        <input id="password" type="password" :class="errorClass('password')" v-model="password">

                        <div v-if="errorColumn('password')" class="invalid-feedback">
                            <strong>{{ errors['password'][0] }}</strong>
                        </div>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="password-confirm" class="col-md-4 col-form-label text-md-right">Confirm Password</label>

                    <div class="col-md-6">
                        <input id="password-confirm" type="password" :class="errorClass('password_confirmation')" v-model="password_confirmation">

                        <div v-if="errorColumn('password_confirmation')" class="invalid-feedback">
                            <strong>{{ errors['password_confirmation'][0] }}</strong>
                        </div>
                    </div>
                </div>

                <div class="form-group row mb-0">
                    <div class="col-md-6 offset-md-4">
                        <button type="submit" class="btn btn-primary">
                            <spinner :small="true" v-if="$root.loading"></spinner>
                            <span v-else>Reset Password</span>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</template>

<script>
import FormErrors from '../mixins/form-errors'
export default {
    mixins:  [FormErrors],
    data () {
        return {
            token: this.$route.params.token,
            email: this.$route.query.email,
            password: '',
            password_confirmation: '',
            errors: {
                token: [],
                email: [],
                password: [],
                password_confirmation: []
            }
        }
    },
    methods: {
        handleSubmit () {
            this.$emit('submitted', {
                token: this.token,
                email: this.email,
                password: this.password,
                password_confirmation: this.password_confirmation
            })
        }
    }
}
</script>