<template>
    <div class="card">
        <div class="card-header">Reset Password</div>

        <div class="card-body">
            <!-- @if (session('status'))
                <div class="alert alert-success" role="alert">
                    {{ session('status') }}
                </div>
            @endif -->

            <form method="POST" @submit.prevent="handleSubmit">
                <div class="form-group row">
                    <label for="email" class="col-md-4 col-form-label text-md-right">E-Mail Address</label>

                    <div class="col-md-6">
                        <input id="email" type="email" :class="errorClass('email')" v-model="email" autofocus>

                        <div v-if="errorColumn('email')" class="invalid-feedback">
                            <strong>{{ errors['email'][0] }}</strong>
                        </div>
                    </div>
                </div>

                <div class="form-group row mb-0">
                    <div class="col-md-6 offset-md-4">
                        <button type="submit" class="btn btn-primary">
                            <spinner :small="true" v-if="$root.loading"></spinner>
                            <span v-else>Send Password Reset Link</span>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</template>

<script>
import FormErrors from '../mixins/form-errors'
export default {
    mixins: [ FormErrors ],
    data () {
        return {
            email: '',
            errors: {
                email: []
            }
        }
    },
    methods: {
        handleSubmit () {
            this.$emit('submitted', {
                email: this.email
            })
        }
    }
}
</script>