<template>
    <div class="card">
        <div class="card-header">Register</div>

        <div class="card-body">
            <form method="POST" @submit.prevent="handleSubmit">
                <div class="form-group row">
                    <label for="name" class="col-md-4 col-form-label text-md-right">Name</label>

                    <div class="col-md-6">
                        <input id="name" type="text" :class="errorClass('name')" v-model="name" autofocus>
                        
                        <div v-if="errorColumn('name')" class="invalid-feedback">
                            <strong>{{ errors['name'][0] }}</strong>
                        </div>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="email" class="col-md-4 col-form-label text-md-right">E-Mail Address</label>

                    <div class="col-md-6">
                        <input id="email" type="email" :class="errorClass('email')" v-model="email">

                        <div v-if="errorColumn('email')" class="invalid-feedback">
                            <strong>{{ errors['email'][0] }}</strong>
                        </div>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="password" class="col-md-4 col-form-label text-md-right">Password</label>

                    <div class="col-md-6">
                        <input id="password" type="password" :class="errorClass('password')" v-model="password">

                        <div v-if="errorColumn('password')" class="invalid-feedback">
                            <strong>{{ errors['password'][0] }}</strong>
                        </div>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="password-confirm" class="col-md-4 col-form-label text-md-right">Confirm Password</label>

                    <div class="col-md-6">
                        <input id="password-confirm" type="password" :class="errorClass('password_confirm')" v-model="password_confirm">

                        <div v-if="errorColumn('password_confirm')" class="invalid-feedback">
                            <strong>{{ errors['password_confirm'][0] }}</strong>
                        </div>
                    </div>
                </div>

                <div class="form-group row mb-0">
                    <div class="col-md-6 offset-md-4">
                        <button type="submit" class="btn btn-primary">
                            <spinner :small="true" v-if="$root.loading"></spinner>
                            <span v-else>Register</span>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</template>

<script>
import FormErrors from '../mixins/form-errors'
export default {
    mixins: [ FormErrors ],
    data () {
        return {
            name: '',
            email: '',
            password: '',
            password_confirm: '',
            errors: {
                name: [],
                email: [],
                password: [],
                password_confirm: []
            }
        }
    },
    methods: {
        handleSubmit () {
            this.$emit('submitted', {
                name: this.name,
                email: this.email,
                password: this.password,
                password_confirm: this.password_confirm
            })
        }
    }
}
</script>